In [6]:
from pyqes import conn,nlp
nlp_api = nlp.NLPApi(conn.Connection(username = '*******', password = *********', URL = 'http://feed.luoquant.com'))

#nlp_api = nlp.NLPApi(conn.Connection(URL="http://172.31.52.65:5003"))

In [27]:
import requests
from io import StringIO
import pandas as pd

session = requests.Session()
session.auth = ('********', '***********')

response = session.get("https://feed.luoquant.com/sym/figi-ticker/GOOGL")
df = pd.read_csv(StringIO(response.text),sep=',')
df

,TICKERSYMBOL,DATED,SEDOL,IDRANK,COMPOSITEFIGI,BBTICKER,EXCHCODE,FIGI,MARKETSECTOR,METADATA,SECNAME,SECDESC,SECTYPE1,SECTYPE2,SHARECLASSFIGI,TICKER,UNIQUEID
0,GOOGL,2023-05-10,BZ4CX96,1,BBG00B4Z1QH6,GOOGL CI,CI,BBG00B4Z1QH6,Equity,NaN,ALPHABET INC-CL A,GOOGL,Common Stock,Common Stock,BBG009S39JY5,GOOGL,NaN
1,GOOGL,2023-05-10,B7XXHR0,1,BBG000QND791,GOOGL AR,AR,BBG000QND791,Equity,NaN,GOOGLE INC - CEDEAR,GOOGL,CEDEAR,Depositary Receipt,BBG001T96QK0,GOOGL,NaN
2,GOOGL,2023-05-10,BYVY8G0,1,BBG009S39JX6,GOOGL US,US,BBG009S39JX6,Equity,NaN,ALPHABET INC-CL A,GOOGL,Common Stock,Common Stock,BBG009S39JY5,GOOGL,NaN

In [24]:
df

,SEDOL,STARTDATE,ENDDATE,BBTICKER,TICKER,EXCHG,MODIFIED_DATE
0,BQZDB02,2023-05-09 00:00:00.000000,NaN,E43 GR,E43,GR,2023-05-09 01:46:50.413208
1,BQZDB02,2023-05-05 00:00:00.000000,2023-05-08 00:00:00.000000,77R GR,77R,GR,2023-05-09 01:46:50.000000

In [ ]:
nlp_api.connection.URL

In [ ]:
from pyqes import nlp

In [8]:
list_of_texts = ['Investors thought Wendy’s 15.5% 2022 restaurant-margin target was somewhat conservative.',
              'We expect solid results from DASH. Nice beat/strong guide should be rewarded but upside is likely to balanced given high expectations.',
              'Technicals and incremental news flow will likely continue to drive trading through year end. We wouldn’t be surprised to see some more near-term upside, including the SPX trading into the 4050-4100 range.',
              'While the moves across markets were epic, we believe that our intermediate-term bearish base case remains intact. This includes core inflation remaining very persistent, the Fed hiking to 5-6%, and a recession hitting in 2023.',
              'We believe that earnings and guidance are likely to begin to come under pressure in the coming quarters. Our sense is that companies beating on the top- and bottom-lines and providing constructive outlooks should have an increased chance of outperforming their peers in the months ahead.'
            ]
model = 'analyst-tone'
payload = {
    "texts" : list_of_texts
}

In [3]:
svc = 'sentiment/{}'.format(model)

In [ ]:
payload

In [9]:
response = nlp_api.connection._post_(svc = 'nlp/sentiment/{}'.format(model), body = payload)

In [11]:
response.content

b'{"message":"Unauthorized"}'

In [5]:
nlp_api.compute_sentiment(list_of_texts=list_of_texts)

       negative       neutral  positive
0  7.611392e-01  2.218239e-01  0.017037
1  2.229531e-09  4.367901e-09  1.000000
2  1.920842e-03  1.465627e-02  0.983423
3  9.999905e-01  3.217678e-06  0.000007
4  6.887222e-04  5.961946e-07  0.999311

In [ ]:
import requests
response = requests.post("http://172.31.52.65:5003/sentiment/analyst-tone",json = payload)

In [ ]:
nlp_api.connection.session.post("http://172.31.52.65:5003/sentiment/analyst-tone",json = payload)

In [ ]:
nlp_api.connection.session.post()

In [ ]:
response.content

In [ ]:
nlp_api.compute_sentiment(list_of_texts,model)